smolagents
litellm
streamlit
requests
pyyaml

# LLM Providers
langchain-community
langchain-openai
langchain-anthropic
langchain-groq
langchain-google-genai
langchain-text-splitters

# RAG / Vector DB
chromadb
sentence-transformers

# Herramientas adicionales
googlesearch-python
